body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

h2{
    margin-bottom: 35px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 60px;
}

.header-left {
    font-size: 1.5em;
    font-weight: bold;
    align-content: center;
}

.header p{
    margin-top: 0px;
    font-size: 13px;
}

.calendar {
    max-width: 500px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
    color: inherit;
}

.date-row {
    margin-bottom: 10px;
}

.row-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.rows-box {
    display: flex;
    width: 100%;
    padding: 10px;
    font-size: medium;
    text-align: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.event-date {
    font-weight: bold;
    color: #000000;
    width: 80px;
    text-align: left;
    font-size: 15px;
}

.event-name {
    color: #000000;
    text-align: left;
    flex: 1;
    padding-left: 10px;
}

.search-container {
    margin: 10px auto;
    text-align: center;
}

.search-bar {
    width: 400px;
    padding: 8px;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .header-left {
        font-size: 1.2em;
    }

    .calendar {
        width: 80%;
    }

    .search-bar{
        width: 80%;
    }
}

.event-details{
    border: 1px solid #000;
    max-width: 300px;
    height:auto;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.rows-box:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%; /* Adjusts for smaller screens */
    max-width: 700px; /* Fixed max width */
    height: 70vh; /* Fixed height relative to viewport */
    overflow-y: auto; /* Enables vertical scroll */
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.data h1 {
    font-size: 22px;
    color: #000;
    text-decoration: underline;
}

.data h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: -15px;
}

.data p {
    font-size: 14px;
    color: #555;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .data h1 {
        font-size: 20px;
    }

    .data h2 {
        font-size: 16px;
        margin-bottom: -10px;
    }

    .data p {
        font-size: 12px;
    }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
    .data h1 {
        font-size: 18px;
    }

    .data h2 {
        font-size: 16px;
        margin-bottom: -6px;
    }

    .data p {
        font-size: 14px;
    }
}



